<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link href="cadastra.css" rel="stylesheet">
</head>
<body>
<div class="cadastro">
    <h1><b>Cadastro de usuário</b></h1>
    <div class="form">
        <form action="/cadastra" method="post">
            <input type="text" placeholder="username" name="username" />
            <input type="text" placeholder="nome" name="nome" />
            <input type="password" placeholder="password" name="senha" />
            <button type="submit" id="enviar" value="Cadastrar">CADASTRAR</button>


        </form>


    </div>
    <h1 class="mensagem"> <%=mensagem%> </h1>
</div>
</body>
</html>