<!Doctype html>
<html lang="pt-br">
<body>
<h1>Perfil do Cadastrado</h1>
<ul>
    <li><a href="/index">Home</a> </li>
    <li><a href ="/lista">Lista de Cadastros</a></li>
</ul>
<form action="/cadastra" method="post">
    <p>Nome: <%=nome%></p>
    <p>Endereço: <%=endereco%></p>
    <p>Idade: <%=idade%></p>
    <p>Resultado: <%=mensagem%></p>
</form>
</body>
</html>