<!Doctype html>
<html lang="pt-br">
<body>
<h1>Cadastro de idosos</h1>
<form action="/index" method="post">
    <p>Nome: </p><input type="text" name="Nome">
    <p>Endereco: </p><input type="text" name="Endereco">
    <p>Idade: </p><input type="text" name="Idade">
    <p></p><input type="submit" value="Cadastrar">
</form>
</body>
</html>