
*{margin:0;}

.menu {
    list-style: none;
    width: 100%;
    height: 56px;
    background: royalblue;
}
.menu img{padding-left: 20%;}

.menu ul{padding-top: 15px;
    padding-right: 25%;
    float: right;}

.menu ul li{display: inline;
    padding-left: 15px;
}

.menu ul li a {
    color: white;
    padding: 2px 10px;
    display: inline-block;}

.menu ul li a:hover {
    color: white;
    border-bottom:1px solid white;
}
.menu ul li a:active{
    background: aliceblue;
}
a:link{text-decoration: none;
}