<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Usuários</title>
</head>
<body>
    <img src="lista.jpg" width="200px" height="200px"><br>

    <div class="menu">
        <ul>
            <li><a href="/login">Login</a> </li>
            <li><a href="/cadastro">Cadastrar</a> </li>
            <li><a href="/lista">Listar</a> </li>
        </ul>
    </div>
</body>
</html>