<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
</head>
<body>
<a href="/">
	<img src="livros.png" height="200">
</a>
<ul>
    <li>
        <a href="/cadastra">Cadastra Livro</a>
    </li>
    <li>
        <a href="/buscar">Busca Livro por Autor</a>
    </li>
    <li>
        <a href="/deleta">Deletar Livro por Autor</a>
    </li>
</ul>


<h2> <%=mensagem%> </h2>

</body>
</html>
