.login{
    width: 100%;
    padding: 5% 0 0;
    margin: auto;
}
.login h1{
    font-family: "Century Gothic";
    color: #f2f2f2;
    font-size: 45px;
    margin-left: 380px;
}
.form {
    position: relative;
    background: #262525;
    padding: 45px;
    text-align: center;
    float: left;
    margin-left: 280px;
}
.imagem{
    position: relative;
    float: right;
    margin-right: 280px;
}
.form input {
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
.form button {
    background: #FF8100;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
}
body {
    background: #FF8100;
}
.login p{
    font-family: "Century Gothic";
    color: white;
    font-size: 12px;
}
a:link{
    text-decoration: none;
    color:white;
}

.mensagem{
    font-family: "Century Gothic";
    color: #f2f2f2;
    font-size: 45px;
    text-align: center;
}