body {
    background-position: left top;
    background-size: 300px
}

.titulo_div {
    border: 1px solid gray;
    margin-left: 170px;
    margin-right: auto;
    width: 60%;
    background-color: #d0f0f6;
    text-align: center;
    padding: 9px;
}
.galeria_div {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin-top: 100px;
    margin-left: 100px
}

.galeria_div:hover {
    border: 1px solid #777;
}

.galeria_div img {
    width: 100%;
    height: auto;
}

.descricao_div {
    padding: 15px;
    text-align: center;
    background-color: cornflowerblue;
}