.titulo1{
    background-color: deepskyblue;
    font-family: "Arial Black";
    font-size: 30px;
    text-align: center;
    width: 60%;
    padding: 10px;
}

.subtitulo1{
    background-color: lightgrey;
    font-family: "Arial Narrow";
    font-size: 30px;
    text-align: center;
    width: 60%;
    padding: 10px;
}

.botao{
    font-family: "Arial Narrow";
    font-size: 20px;
    padding: 10px;
    border: none;
    color: #ffffff;
    background-color: deepskyblue;
}

.botao:hover{
    cursor: pointer;
    background-color: skyblue;
}

.imagens{
    width: 50px;
    height: 50px;
    border-radius: 10px 10px;
}

.imagensAmpliada{
    width: 600px;
    height: 600px;
    border-radius: 10px 10px;
}