<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link href="Estilos_Principal.css" rel="stylesheet">

</head>
<body>

    <script src="Scripts_Principal.js"></script>

    <h1 class="titulo1">
        Bem Vindo a página principal!
    </h1>

    <h2 class="subtitulo1">
        Escolha a imagem que deseja ampliar:
    </h2>

    <input type="button" class="botao" value="IMAGEM 1" onclick="ampliarImagem1()">
    <br><br>

    <img src="imagem_1.jpg" class="imagens">
    <br><br>

    <input type="button" class="botao" value="IMAGEM 2" onclick="ampliarImagem2()">
    <br><br>

    <img src="imagem_2.jpg" class="imagens">
    <br><br>

    <input type="button" class="botao" value="IMAGEM 3" onclick="ampliarImagem3()">
    <br><br>

    <img src="imagem_3.jpg" class="imagens">
    <br><br>


</body>
</html>